:root {
  /* colors */
  --brand: #2196f3;
  --brand-accent: #188ce8;
  --hero-bgd: #c4c4c4;
  --links-plus-buttons: #212121;
  --contacts: #757575;
  --team-and-selector-bgr: #f5f4fa;
  --original-white: #ffffff;
  --original-black: #000000;
  --footer-bgd: #2f303a;
  --icon: #afb1b8;
  /* transitions data*/
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team-section {
  padding: 94px 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--original-white);
  color: var(--links-plus-buttons);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.btn-transitions, .footer-contacts, .link__client, .client, .icon, .social-link, .nav-link,
.header-contacts, .modal-checkbox, .modal-form-icon, .modal-input-form,
.modal-comment, .btn-portfolio, .modal-btn-x, .btn {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.btn {
  min-height: 50px;
  padding: 10px 32px;
  font-family: inherit;
  background-color: var(--brand);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.btn:hover, .btn:focus {
  background-color: var(--brand-accent);
}

.hero-btn {
  min-width: 216px;
}

.modal-btn,
.sign-up-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  min-width: 200px;
  padding: 10px 28px;
}

.sign-up-btn {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 200px;
  padding: 10px 62px 10px 28px;
}

.btn-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--original-white);
  text-align: center;
}

.modal-btn-x {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
}
.modal-btn-x:hover, .modal-btn-x:focus {
  fill: var(--brand);
}

.portfolio-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.btn-portfolio {
  min-width: 73px;
  min-height: 38px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--team-and-selector-bgr);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
}
.btn-portfolio:hover, .btn-portfolio:focus {
  color: var(--original-white);
  background-color: var(--brand);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--brand);
}

.logo-studio-header {
  margin-right: 93px;
  color: var(--original-black);
}

.footer-logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 20px;
}

.logo-web-footer {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}

.logo-studio-footer {
  color: var(--original-white);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background: var(--original-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms linear;
  transition: opacity 250ms linear, -webkit-transform 250ms linear;
  transition: opacity 250ms linear, transform 250ms linear;
  transition: opacity 250ms linear, transform 250ms linear, -webkit-transform 250ms linear;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-75%);
          transform: translateX(-50%) translateY(-75%);
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal-form-group {
  margin-bottom: 20px;
}

.modal-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--contacts);
}

.modal-input {
  position: relative;
  margin-bottom: 10px;
}

.modal-input-form,
.modal-comment {
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 0;
  -webkit-transition-property: border;
  transition-property: border;
}
.modal-input-form:focus,
.modal-comment:focus {
  border: 1px solid var(--brand);
}

.modal-input-form {
  display: inline-block;
  height: 40px;
  padding-left: 42px;
}

.modal-comment {
  resize: none;
  display: block;
  height: 120px;
  padding: 12px 16px;
  margin: 0;
}

.modal-comment::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment::-moz-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment:-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment::-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-icon {
  position: absolute;
  top: calc(50% - 9px);
  left: 12px;
  -webkit-transition-property: fill;
  transition-property: fill;
}
.modal-input-form:focus + .modal-form-icon {
  fill: var(--brand);
}

.modal-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
}

.checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts);
}

.checkbox-link {
  color: var(--brand);
}

.modal-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  border: 2px solid var(--links-plus-buttons);
  border-radius: 2px;
  -webkit-transition-property: background-size;
  transition-property: background-size;
}

.modal-checkbox:checked {
  border: 2px solid var(--brand);
  background-color: var(--brand);
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-size: 16px 15px;
}

.section {
  padding: 94px 0;
}

.boxforflex-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.boxforflex-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  border: 1px solid #ececec;
}

.boxforflex-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxforflex-navlink,
.boxforflex-header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav-link,
.header-contacts {
  position: relative;
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.1428571429;
  color: var(--links-plus-buttons);
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
}
.nav-link:hover, .nav-link:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--brand);
}

.current {
  color: var(--brand);
}

.current::after {
  position: absolute;
  content: "";
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 108%;
  right: -4%;
  height: 4px;
  bottom: -1px;
  margin: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--contacts);
}

.header-icon {
  fill: currentColor;
}

.boxforflex-hero-text,
.boxforflex-hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: var(--hero-bgd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-images/Hero-Img-1.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-images/Hero-Img-1.jpg);
}

.title {
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--original-white);
  text-align: center;
}

.section-features {
  padding-top: 94px;
  padding-bottom: 0;
}

.feature-icon-bgr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.list__features {
  max-width: 270px;
}

.name__features {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
}

.text__features {
  display: block;
  line-height: 1.71;
  color: var(--contacts);
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}

.wwd__image {
  position: relative;
}

.wwd__text {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 27px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--original-white);
  background-color: rgba(47, 48, 58, 0.8);
}

.name-team {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.text-team {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--contacts);
  text-align: center;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.social-link:hover, .social-link:focus {
  background-color: var(--brand);
}

.icon {
  fill: var(--icon);
  -webkit-transition-property: fill;
  transition-property: fill;
}
.social-link:hover .icon, .social-link:focus .icon {
  fill: var(--original-white);
}

.team-cards-text-space {
  padding: 30px 0;
}

.team-section {
  background: var(--team-and-selector-bgr);
}

.team-cards {
  background-color: var(--original-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.client {
  width: 170px;
  height: 92px;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.link__client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
}
.link__client:hover, .link__client:focus {
  border: 1px solid var(--brand);
}

.client:hover .icon, .client:focus .icon {
  fill: var(--brand);
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer {
  padding: 60px 0;
  background-color: var(--footer-bgd);
}

.address-wrapper {
  min-width: 231px;
  margin-right: 70px;
}

.join-wrapper {
  margin-right: 93px;
}

.address {
  line-height: 1.71;
  color: var(--original-white);
}

.list-address {
  margin-top: 9px;
}

.footer-contacts {
  display: inline-block;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
}
.footer-contacts:hover, .footer-contacts:focus {
  color: var(--brand);
}

.footer-cta {
  margin-bottom: 20px;
  color: var(--original-white);
}

.footer-social-icons {
  margin-bottom: 0;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.footer-icon {
  fill: var(--original-white);
}

.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.sign-up-wrapper {
  position: relative;
}

.signup-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.sign-up-field {
  height: 50px;
  width: 358px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 1.17;
  color: var(--original-white);
  letter-spacing: 0.01em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: 0;
}

.sign-up-field::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up-field::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up-field:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up-field::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up-field:focus {
  border: 1px solid var(--brand);
}

.footer-icon-send-email {
  position: absolute;
  right: 28px;
  top: calc(50% + 6px);
}

.boxforflex-portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-item:nth-child(3n+2) {
  margin: 0 30px;
}

.portfolio-item:nth-child(-n+6) {
  margin-bottom: 30px;
}

.portfolio-item {
  cursor: pointer;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.portfolio-item:hover,
.portfolio-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-text-space {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: 0;
}

.name-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.88;
  color: var(--contacts);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.prtfl-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--original-white);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.portfolio-item:hover .prtfl-overlay,
.portfolio-item:focus .prtfl-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}/*# sourceMappingURL=main.css.map */