.footer-flex {
    display: flex;
    align-items: baseline;
}

.footer {
    padding: 60px 0;
    background-color: var(--footer-bgd);    
}

.address-wrapper {
    min-width: 231px;
    margin-right: 70px;
}

.join-wrapper {
    margin-right: 93px;
}

.address {
    line-height: 1.71;
    color: var(--original-white);
}

.list-address {
    margin-top: 9px;
}

.footer-contacts {
    display: inline-block;

    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    @extend .btn-transitions;

    &:hover,
    &:focus {
        color: var(--brand);
    }
}

.footer-cta {
    margin-bottom: 20px;
    color: var(--original-white);    
}

.footer-social-icons {
    margin-bottom: 0;
    justify-content: left;
}

.footer-icon {
    fill: var(--original-white);
}

.footer-link {
    background-color: rgba(255, 255, 255, 0.1);
}

.sign-up-wrapper {
    position: relative;
}

.signup-field {
    display: flex;
    gap: 12px;
}

.sign-up-field {
    height: 50px;
    width: 358px;
    padding: 0 16px;

    font-size: 14px;
    line-height: 1.17;
    color: var(--original-white);
    letter-spacing: 0.01em;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: 0;
}

.sign-up-field::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.sign-up-field:focus {
    border: 1px solid var(--brand);
}

.footer-icon-send-email {
    position: absolute;
    right: 28px;
    top: calc(50% + 6px);
}