.boxforflex-hero-text,
.boxforflex-hero-btn {
    display: flex;
    justify-content: center;

    margin: 0 auto;
}

.hero {
    background-repeat: no-repeat;
    background-position: center;
    
    max-width: 1600px;
    margin: 0 auto;
    padding: 100px 0;

    @media screen and (min-width: 480px) {
        padding: 118px 0;
    }

    @media screen and (min-width: 768px) {
        padding: 200px 0;
    }

    background-color: var(--hero-bgd);

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-images/Header_img_lit@1x.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {       
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-images/Header_img_lit@2x.jpg);
    }

    @media screen and (min-width: 481px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-images/Header_img_mid@1x.jpg);

        @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {       
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-images/Header_img_mid@2x.jpg);
    }
    }

    @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-images/Header_img_lar@1x.jpg);

        @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {       
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-images/Header_img_lar@2x.jpg);
    }
    }
}

.title {
    margin-bottom: 30px;
    max-width: 280px;

    font-weight: 700;

    font-size: 24px;
    line-height: 1.62;

    @media screen and (min-width: 480px) {
        font-size: 26px;
        max-width: 360px;
        font-weight: 900;
    }

    @media screen and (min-width: 1200px) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }   

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--original-white);
    text-align: center;
}