.btn-transitions {
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.btn {
    min-height: 50px;
    padding: 10px 32px;

    font-family: inherit;

    background-color: var(--brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;

    cursor: pointer;

    transition-property: background-color;
    @extend .btn-transitions;

    &:hover,
    &:focus {
    background-color: var(--brand-accent);
    }
}

.hero-btn {
    min-width: 216px;
}

 .modal-btn,
 .sign-up-btn {
     display: flex;
     justify-content: center;

     margin: 0 auto;
     min-width: 200px;
     padding: 10px 28px;
 }

 .sign-up-btn {
     justify-content: right;

     width: 200px;
     padding: 10px 62px 10px 28px;
 }

.btn-text {
    display: flex;
    align-items: center;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--original-white);
    text-align: center;
}

.modal-btn-x {
    position: absolute;
    top: 8px;
    right: 8px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;

    background-color: transparent;
    border-radius: 50%;    
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

    transition-property: fill;
    @extend .btn-transitions;

    &:hover,
    &:focus {
        fill: var(--brand);
    }
}

.portfolio-btns {
    display: flex;
    justify-content: center;
    gap: 8px;
    
    margin-bottom: 50px;
}

.btn-portfolio {
    min-width: 73px;
    min-height: 38px;
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    background-color: var(--team-and-selector-bgr);
    border-radius: 4px;
    border: 0;

    cursor: pointer;

    transition-property: color, background-color, box-shadow;
    @extend .btn-transitions;

    &:hover,
    &:focus {
            color: var(--original-white);
            background-color: var(--brand);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}