.logo-web {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.03em;
    color: var(--brand);

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: calc(31 / 26);
    }
    
}

.logo-studio-header {
    margin-right: 88px;
    color: var(--original-black);
    
    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
}

.footer-logo-text {
    display: flex;
    justify-content: center;
    align-items: baseline;
    
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        justify-content: left;
    }
}

.logo-web-footer {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.logo-studio-footer {
    color: var(--original-white);
}