.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    padding: 40px;
    width: 528px;
    min-height: 581px;

    background: var(--original-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: opacity 250ms linear, transform 250ms linear;
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(-75%);
}

.modal-title {
    display: block;

    margin-bottom: 12px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.modal-form-group {
    margin-bottom: 20px;
}

.modal-text {
    display: block;

    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--contacts);
}

.modal-input {
    position: relative;

    margin-bottom: 10px;
}

.modal-input-form,
.modal-comment {
    width: 100%;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 0;  

    transition-property: border;
    @extend .btn-transitions;

    &:focus {
        border: 1px solid var(--brand);
    }
}

.modal-input-form {
    display: inline-block;

    height: 40px;
    padding-left: 42px;    
}

.modal-comment {
    resize: none;
    display: block;
    height: 120px;
    padding: 12px 16px;
    margin: 0;
}

.modal-comment::placeholder {
    font-size: 12px;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-icon {
    position: absolute;
    top: calc(50% - 9px);
    left: 12px;

    transition-property: fill;
    @extend .btn-transitions;

    .modal-input-form:focus+& {
        fill: var(--brand);
    }
}

.modal-check {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin-bottom: 30px;
}

.checkbox-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts);
}

.checkbox-link {
    color: var(--brand);
}

.modal-checkbox {
    appearance: none;

    width: 16px;
    height: 15px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;

    border: 2px solid var(--links-plus-buttons);
    border-radius: 2px;
    
    transition-property: background-size;
    @extend .btn-transitions;
}

.modal-checkbox:checked {
    border: 2px solid var(--brand);
    
    background-color: var(--brand);
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-size: 16px 15px;
}