.section {
    @extend %section;
}

.boxforflex-sections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.section-w-w-d {
    display: none;

    @media screen and (min-width: 1200px) {
        display: flex;
    }  
}