:root {
    /* colors */
    --brand: #2196f3;
    --brand-accent: #188ce8;
    --hero-bgd: #c4c4c4;
    --links-plus-buttons: #212121;
    --contacts: #757575;
    --team-and-selector-bgr: #f5f4fa;
    --original-white: #ffffff;
    --original-black: #000000;
    --footer-bgd: #2f303a;
    --icon: #afb1b8;
    /* transitions data*/
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}